* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Gotu', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header__logo {
  padding: 8em 0;
  text-align: center;
  opacity: 0.8;
  background-image: url("img/cleanspace.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header__title {
  background: rgba(255, 255, 255, 0.5);
  font-size: 3.7rem;
}

.header__title-span {
  opacity: 0;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-animation: appear 2s ease-in forwards;
          animation: appear 2s ease-in forwards;
}

.header__subtitle-span {
  display: block;
  font-size: 1.7rem;
  font-style: italic;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  -webkit-animation: appear 4s linear forwards;
          animation: appear 4s linear forwards;
  padding-bottom: 0.5em;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes appear {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.navbar {
  background-color: #e2f0e2;
  position: fixed;
  z-index: 1;
  width: 50%;
  left: -500px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.navbar__list {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.show {
  left: 0;
  display: block;
}

@media screen and (min-width: 760px) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    left: 0;
  }
  .navbar__list {
    height: auto;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

p {
  padding: 1em;
}

h1 {
  font-size: 5em;
  letter-spacing: 1px;
  font-weight: 100;
  margin: 0;
  text-align: center;
  color: #483549;
}

h2 {
  text-align: center;
}

i {
  font-size: 1.8em;
  color: black;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 1;
  background: whitesmoke;
  margin-top: 0;
  padding: 0.5em;
  border-bottom: 1px solid gray;
  letter-spacing: 5px;
  text-align: center;
}

.icon {
  position: absolute;
  visibility: visible;
  cursor: pointer;
  top: 5;
  z-index: 2;
  left: 10;
}

@media screen and (min-width: 760px) {
  .icon {
    visibility: hidden;
  }
}

li {
  list-style-type: none;
  text-align: center;
  padding: 1em;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

li a:hover {
  color: #81976c;
}

.wrap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.item-top {
  padding: 1em;
  width: 300px;
}

.card {
  padding: 1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__item {
  margin: 0.5em;
  background-color: whitesmoke;
  width: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card__img {
  width: 100px;
}

footer {
  background-color: #e4d5c2;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
}

.footer-img {
  max-width: 100px;
}

.icon-footer ul {
  margin: 2em;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */